@import url("./assets/fonts/stylesheet.css");
@import url("./assets/icons/style.css");
:root {
  font-family: "IBM Plex Sans", sans-serif;
  --lightgray: #f2f5f5;
  --primary-color: #02cdbd;
  --text-color: #2e3333;
  --p-color: #808484;
  --box-shadow: 0px 9px 19px #d2d2d2;
  --box-shadow-light: rgba(0, 0, 0, 0.08) 0px 1px 4px;
}
/*=======GENERAL======*/
body {
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
}
img {
  width: 100%;
}
.half-width {
  width: calc((100% - 25px) / 2);
}
h1 {
  font-size: 32px;
}

/*=======HEADER======*/
header {
  width: 100%;
  border-bottom: 1px solid var(--lightgray);
  padding: 25px 0;
}

header img {
  width: 130px;
}

/*=======SECTION-HEAD======*/
.section-head {
  margin-bottom: 20px;
}
.section-head .container {
  display: flex;
  padding: 40px 0;
}
.section-head .container .title {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section-head .container .title p {
  font-size: 19px;
  line-height: 29px;
  color: var(--p-color);
}
.section-head .container .title-picture {
  width: 45%;
}

/*=======MAIN======*/
main {
  background-color: var(--lightgray);

  height: auto;
}
main .container {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  gap: 25px;
}
.all-categories {
  width: 75%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.category {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-bottom: 40px;
}
.category h2 {
  font-size: 28px;
}
.meals {
  display: flex;
  width: 100%;
  gap: 25px;
  flex-wrap: wrap;
}
.one-meal {
  width: calc((100% - 25px) / 2);
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  gap: 25px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.one-meal:hover {
  box-shadow: var(--box-shadow);
  /* box-shadow: var(--box-shadow-light); */
}
.meal-infos {
  width: 665%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
.meal-infos h3 {
  font-size: 18px;
}
.meal-infos p {
  font-size: 14px;
  color: var(--p-color);
}
.meal-infos .price {
  display: flex;
  justify-content: space-between;
}
.meal-infos .popular {
  color: #ff8000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.meal-picture {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meal-picture img {
  width: 130px;
  aspect-ratio: 13/13;
  object-fit: cover;
  border-radius: 6px;
}
aside {
  width: auto;
}

aside .cart {
  background-color: white;
  width: 350px;
  min-height: 185px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 30px;
  border-radius: 6px;
}
.cart button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #bac3c3;
  color: var(--text-color);
  font-weight: bold;
  padding: 15px;
}
.cart-items p {
  text-align: center;

  color: var(--p-color);
}
